<form [formGroup]="formContact" class="form">
  <h1 class="form__title">Contact us</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input class="form__input" matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input class="form__input" matInput formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input justNumbers class="form__input" matInput formControlName="phone">
  </mat-form-field>
  <mat-form-field hintLabel="Maximum 120 characters">
    <mat-label>Message</mat-label>
    <textarea class="form__input" matInput formControlName="message"></textarea>
  </mat-form-field>

  <button class="form__submit" [disabled]="this.formContact.invalid" (click)="sendData()">Send</button>
</form>