<footer class="footer">
    <div class="footer__social">
        <div class="footer__social__div-icon">
            <a href="https://www.facebook.com/GitHub/" class="icon-facebook" target="_blank"></a>
        </div>
        <div class="footer__social__div-icon">
            <a href="https://github.com/googleplus" class="icon-gplus" target="_blank"></a>
        </div> 
        <div class="footer__social__div-icon">
            <a href="https://www.instagram.com/github/?hl=en" class="icon-instagram" target="_blank"></a>
        </div> 
        <div class="footer__social__div-icon">
            <a href="https://twitter.com/github?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-twitter" target="_blank"></a>
        </div> 
    </div>
    <p class="footer__copy">&copy; Todos los derechos reservados</p>
</footer>