<div class="container">
  <h1>Welcome to my App</h1>
  <p class="container__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Asperiores unde, vero assumenda officiis perspiciatis quidem 
    praesentium culpa quia ipsum quae tempora quas nesciunt 
    consequatur in tempore aliquam, voluptatum libero labore cum 
    beatae at quis repudiandae. Eum, fugit vitae nobis quidem asperiores 
    assumenda minima veniam minus cum optio error doloremque neque!</p> <br>

  <img src="https://i.ytimg.com/vi/5qP2UNVmnsQ/maxresdefault.jpg" alt="welcome-app.jpg" width="900px">
</div>