<div class="container">
  <div class="container__contentWelcome">
    <h1>Welcome</h1>
    <h2>This is a page with a brief sample of the use we give Angular. </h2>
    <p class="container__contentWelcome__paragraph"> 
      In the contacts section we have a list of GitHub users that are called thanks to the <b>HttpClient</b> method provided by Angular.
      Then, we have the contact section, it is composed of reactive forms with their respective validations, all made with Angular. 
      It should be specified that the design of the form is made with Angular Material. <br>
      To move in the different sections we use the <strong>app routing module</strong>, in this way we have a better optimization when exploring the different contents without the need to reload the page.
    </p> <br>
  </div>

  <img class="container__img" src="../../../assets/github-octocat.png" alt="github-octocat.jpg">
</div>
